.header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px;
  height: 60px;
}

.header_logo {
  width: 100px;
  margin-right: 10px;
}

.header__search {
  display: flex;
   /* Allows the search bar to take available space */
  align-items: center;
  flex: 1;
  border-radius: 24px;
}

.header__searchInput {
  display: flex;
  flex-grow: 1;
  height: 10px; /* Ensure it matches the search icon height */
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 22px;
  background-color: orange;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}


.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}